
        /* Estilos adicionais */
        nav a:hover {
            background-color: #444;
        }

        header {
            background-color: #222;
            padding: 20px 0;
            text-align: center;
            color: white;
        }

        /* Estilo para os botões */
        .button {
            padding: 10px 15px;
            border: none;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #0056b3;
        }

        /* Estilo para listas */
        ul, ol {
            margin-bottom: 10px;
            padding-left: 20px;
        }

        /* Restante do seu estilo */
        section {
            margin-bottom: 40px;
            padding: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
  